venv/
__pycache__/
*.pyc
db.sqlite3
media/

# Env files (keep *.example tracked)
.env
frontend/.env
backend/.env
admin-fe/.env

# Frontend
frontend/node_modules/
frontend/dist/

# Admin frontend
admin-fe/node_modules/
admin-fe/dist/

# Backend
backend/.venv/
